@model SalaoBeleza.Models.Booking

@{
    ViewBag.Title = "Agendamento - Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Excluir</h2>*@

<h3>Você tem certeza que gostaria de excluir esse agendamento?</h3>
<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtAgendamentoInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtAgendamentoInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtAgendamentoFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtAgendamentoFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="EXCLUIR" class="btn btn-primary" /> |
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>
