@model SalaoBeleza.Models.Booking

@{
    ViewBag.Title = "Agendamento - Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Agendamentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtAgendamentoInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtAgendamentoInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtAgendamentoFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtAgendamentoFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
