@model SalaoBeleza.ViewModels.NewBookingViewModel

@{
    ViewBag.Title = "Agendamentos - Edição";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edição</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Agendamentos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Bookings.Id)
        @Html.HiddenFor(model => model.Bookings.DtRegistro)
        <div class="form-group">
            @Html.LabelFor(model => model.Bookings.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bookings.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bookings.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bookings.DtAgendamentoInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bookings.DtAgendamentoInicio, new { htmlAttributes = new { @class = "form-control select_Cliente_Agendamento", @id = "datetimepicker4", @type = "text" } })
                @Html.ValidationMessageFor(model => model.Bookings.DtAgendamentoInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bookings.DtAgendamentoFim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bookings.DtAgendamentoFim, new { htmlAttributes = new { @class = "form-control select_Cliente_Agendamento", @id = "datetimepicker5", @type = "text" } })
                @Html.ValidationMessageFor(model => model.Bookings.DtAgendamentoFim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bookings.Customer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Bookings.CustomerId, new SelectList(Model.Customers, "Id", "Name"), "Selecione um cliente", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bookings.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bookings.Employee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Bookings.EmployeesId, new SelectList(Model.Employees, "Id", "Name"), "Selecione um Funcionário", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bookings.EmployeesId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="SALVAR" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para lista", "Index")
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker4').datetimepicker();
            $('#datetimepicker5').datetimepicker();
        });
    </script>")
}
@*@Scripts.Render("~/bundles/jquery")*@